<div class="list-group list-group-radio d-grid gap-2 border-0 w-auto">
    <div *ngFor="let penalty of penalties" class="boete position-relative">
        <label class="list-group-item py-3 pe-5">
            <strong class="fw-semibold">{{penalty.description}}</strong>
            <span *ngIf="penalty.amount > 0" class="d-block small opacity-75">{{penalty.amount |
                currency}}</span>
            <span *ngIf="penalty.amount === 0" class="d-block small opacity-75">{{penalty.extraInfo}}</span>
        </label>
    </div>
</div>